automacao/n8n/primeflix-workflow.json
{
  "name": "Primeflix Bot - Atendimento Principal",
  "nodes": [
    {
      "parameters": {
        "content": "# ?? ENTRADA DO WHATSAPP\n\nAqui come?a tudo. Esse bloco recebe a mensagem que chegou no WhatsApp, pega o n?mero do cliente, o nome se existir, o texto enviado e prepara essas informa??es para o restante do fluxo. Ele n?o responde ainda; apenas organiza a entrada para o sistema entender quem falou e o que foi falado.\n\nCobre os nodes:\n- WhatsApp - entrada\n- Normalizar entrada",
        "height": 500,
        "width": 620,
        "color": 2718207
      },
      "id": "note-entrada-whatsapp",
      "name": "ENTRADA DO WHATSAPP",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2020,
        -250
      ]
    },
    {
      "parameters": {
        "content": "# ?? CLIENTE / SUPABASE\\n\\nEsse bloco cria ou atualiza automaticamente o cliente em customers pelo telefone normalizado, salva toda mensagem recebida em messages com o id retornado pelo upsert e depois busca o registro criado/encontrado antes de qualquer resposta. Assim a primeira mensagem cria o cliente, fica registrada no hist?rico e segue para o roteador sem IF manual complicado.\\n\\nCobre os nodes:\\n- Supabase - cliente da upsert\\n- Supabase - buscar contato\\n- Supabase - salvar mensagem recebida\\n- Decidir rota segura",
        "height": 560,
        "width": 1280,
        "color": 51283
      },
      "id": "note-cliente-supabase",
      "name": "CLIENTE / SUPABASE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1600,
        -300
      ]
    },
    {
      "parameters": {
        "content": "# ?? ROTEADOR PRINCIPAL\n\nEsse ? o centro visual e l?gico do workflow. Ele decide para onde a mensagem deve ir: fluxo inicial, resposta com IA, pedido de teste, envio de valores, aviso para Arthur, pausa humana ou outra a??o. Ele s? deixa a IA agir depois que o fluxo inicial j? foi enviado.\n\nCobre o node:\n- Roteador",
        "height": 500,
        "width": 480,
        "color": 16766464
      },
      "id": "note-roteador-principal",
      "name": "ROTEADOR PRINCIPAL",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        -250
      ]
    },
    {
      "parameters": {
        "content": "# ?? FLUXO INICIAL OFICIAL\n\nEsse bloco executa o fluxo obrigat?rio de apresenta??o. Ele manda os ?udios oficiais, a imagem de feedbacks e o ?udio final. Esse fluxo ? intoc?vel, nunca deve ser alterado pela IA e nunca deve repetir para o mesmo telefone.\n\nOrdem obrigat?ria:\n1. apresentacao01.ogg\n2. apresentacao02.ogg\n3. feedbaks.jpeg com legenda oficial\n4. qualatv.ogg\n\nCobre os nodes:\n- Supabase - marcar fluxo inicial\n- WhatsApp - fluxo inicial oficial\n- Supabase - liberar IA",
        "height": 500,
        "width": 900,
        "color": 16739584
      },
      "id": "note-fluxo-inicial-oficial",
      "name": "FLUXO INICIAL OFICIAL",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        -250
      ]
    },
    {
      "parameters": {
        "content": "# ?? RESPOSTA COM IA\n\nEsse bloco usa a KIE AI com Claude Haiku 4.5 para entender perguntas do cliente depois do fluxo inicial. A IA deve responder curto, natural e com foco em conduzir a venda, mas sem inventar pre?o, promo??o, prazo ou informa??o que n?o esteja nas regras.\n\nCobre os nodes:\n- KIE AI - Claude Haiku\n- Sanitizar resposta IA\n- WhatsApp - enviar IA",
        "height": 650,
        "width": 900,
        "color": 11141375
      },
      "id": "note-resposta-ia",
      "name": "RESPOSTA COM IA",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        430
      ]
    },
    {
      "parameters": {
        "content": "# ?? VALORES / PLANOS\n\nEsse bloco ? usado quando o cliente pergunta valor, plano, mensalidade ou pre?o. O bot n?o inventa valores em texto livre. Ele envia a arte valor.jpeg com a legenda oficial dos planos. Assim o pre?o fica sempre padronizado.\n\nCobre o node:\n- WhatsApp - enviar valor.jpeg",
        "height": 650,
        "width": 480,
        "color": 2718207
      },
      "id": "note-valores-planos",
      "name": "VALORES / PLANOS",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        430
      ]
    },
    {
      "parameters": {
        "content": "# ?? TESTE / CONFIRMA??O\n\nEsse bloco cuida do pedido de teste. Como o teste dura apenas 1 hora, o bot primeiro confirma se o cliente consegue testar agora. S? depois disso ele registra o pedido e avisa Arthur para aprovar a cria??o do teste.\n\nCobre os nodes:\n- WhatsApp - confirmar teste agora\n- Supabase - aguardando teste agora\n- Supabase - solicitar aprova??o teste\n- WhatsApp - avisar Arthur teste",
        "height": 650,
        "width": 620,
        "color": 13959168
      },
      "id": "note-teste-confirmacao",
      "name": "TESTE / CONFIRMA??O",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1160,
        430
      ]
    },
    {
      "parameters": {
        "content": "# ? CRIA??O AUTOM?TICA DO TESTE\n\nEsse bloco fica logo abaixo do pedido de teste para deixar claro que ele pertence somente a esse caminho. Ele roda a automa??o no painel externo, tenta gerar usu?rio, senha e vencimento. Se conseguir, salva no Supabase e envia as credenciais ao cliente. Se falhar, n?o fala nada errado para o cliente e avisa Arthur.\n\nCredenciais devem conter:\n- provedor, quando existir\n- usu?rio\n- senha\n- vencimento\n\nCobre os nodes:\n- Arthur - aprovar teste\n- Tester - criar teste\n- Teste criado?\n- Supabase - salvar credenciais\n- Formatar credenciais\n- WhatsApp - enviar credenciais\n- WhatsApp - alertar Arthur erro teste",
        "height": 880,
        "width": 900,
        "color": 4342338
      },
      "id": "note-criacao-teste",
      "name": "CRIA??O AUTOM?TICA DO TESTE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1160,
        1240
      ]
    },
    {
      "parameters": {
        "content": "# ?? A??ES MANUAIS / BLACK FRIDAY\n\nEsse bloco fica pr?ximo do Arthur porque depende de comando manual. O bot nunca deve mandar promo??o sozinho. Quando Arthur ativar, envia black.jpeg com a legenda oficial da campanha.\n\nCobre os nodes:\n- Arthur - Black Friday manual\n- WhatsApp - enviar black.jpeg",
        "height": 660,
        "width": 620,
        "color": 12915042
      },
      "id": "note-campanhas-manuais",
      "name": "CAMPANHAS MANUAIS",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        2320
      ]
    },
    {
      "parameters": {
        "content": "# ?? CONTROLE HUMANO / ARTHUR\n\nEsse bloco fica separado dos fluxos autom?ticos para mostrar que ? interven??o manual. Quando Arthur assume, o bot para de responder o cliente. Se Arthur devolver, o bot volta. Se Arthur n?o responder em 30 minutos quando for chamado, o bot pode retomar para n?o deixar cliente abandonado.\n\nCobre os nodes:\n- Arthur - assumir conversa\n- Supabase - pausar bot 30 min\n- Arthur - devolver conversa\n- Supabase - devolver ao bot",
        "height": 660,
        "width": 720,
        "color": 7162945
      },
      "id": "note-controle-humano",
      "name": "CONTROLE HUMANO / ARTHUR",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -420,
        2320
      ]
    },
    {
      "parameters": {
        "content": "# ? LOGS / SEGURAN?A\n\nEsse bloco fica no canto final do canvas como camada de prote??o e auditoria. Ele registra eventos importantes, erros, pausas e decis?es. Ajuda a entender o que aconteceu quando algo d? errado e protege o sistema para evitar mensagem errada, repeti??o de fluxo ou resposta ao cliente enquanto Arthur est? no controle.\n\nCobre os nodes:\n- Log - pausado para Arthur\n- qualquer node de erro/log existente",
        "height": 520,
        "width": 620,
        "color": 12434877
      },
      "id": "note-logs-seguranca",
      "name": "LOGS / SEGURAN?A",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1320,
        3100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-incoming",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "incoming-webhook",
      "name": "WhatsApp - entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1920,
        0
      ],
      "webhookId": "whatsapp-incoming"
    },
    {
      "parameters": {
        "jsCode": "const source = $json.body || $json;\nconst cleanPhone = (value) => String(value || '')\n  .replace('@s.whatsapp.net', '')\n  .replace('@lid', '')\n  .replace(/\\D/g, '');\n\nconst telefone = cleanPhone(source.phone)\n  || cleanPhone(source.raw?.key?.senderPn)\n  || cleanPhone(source.jid);\n\nif (!telefone) throw new Error('Mensagem sem telefone normalizado.');\n\nconst Texto = source.Texto || '';\n\nreturn [{ json: {\n  telefone,\n  jid: source.jid || '',\n  pushName: source.pushName || 'Cliente',\n  Texto,\n  texto: Texto,\n  text: Texto,\n  messageType: source.message?.type || 'text',\n  messageId: source.messageId || ''\n}}];"
      },
      "id": "normalize-incoming",
      "name": "Normalizar entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1660,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/customers?on_conflict=phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { phone: $json.telefone, name: $json.pushName || 'Cliente', status: 'bot' } }}",
        "options": {}
      },
      "id": "supabase-upsert-customer",
      "name": "Supabase - cliente da upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1510,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/customers?id=eq.{{$node['Supabase - cliente da upsert'].json[0]?.id || $node['Supabase - cliente da upsert'].json.id}}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "options": {}
      },
      "id": "supabase-find-contact",
      "name": "Supabase - buscar contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1080,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { customer_id: $node['Supabase - cliente da upsert'].json[0].id, direction: 'in', body: $json.Texto, sent_by: 'client' } }}",
        "options": {}
      },
      "id": "supabase-save-incoming-message",
      "name": "Supabase - salvar mensagem recebida",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $node['Normalizar entrada'].json;\nconst response = $node['Supabase - buscar contato'].json;\nconst customers = Array.isArray(response) ? response : (response.body || []);\nconst customer = customers[0] || {};\nconst texto = String(source.texto || '').toLowerCase();\nconst status = String(customer.status || 'new');\nconst initialNotSent = !customer.status || status === 'new' || status === 'bot';\nlet route = 'ai_reply';\n\nif (status === 'human_takeover') route = 'human_paused';\nelse if (status === 'waiting_test_confirmation' && /\\b(sim|pode|agora|ok|claro)\\b/i.test(texto)) route = 'request_arthur_approval';\nelse if (initialNotSent) route = 'initial_flow';\nelse if (/\\b(teste|testar|demo|acesso)\\b/i.test(texto)) route = 'ask_test_time';\nelse if (/\\b(valor|preco|pre?o|plano|planos|quanto|mensal|mensalidade)\\b/i.test(texto)) route = 'send_prices';\n\nreturn [{ json: { ...source, customer, route } }];"
      },
      "id": "route-decision",
      "name": "Decidir rota segura",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -430,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{$json.route}}",
                    "rightValue": "initial_flow",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fluxo inicial"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{$json.route}}",
                    "rightValue": "send_prices",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "precos"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{$json.route}}",
                    "rightValue": "ask_test_time",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pedir confirmacao teste"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{$json.route}}",
                    "rightValue": "request_arthur_approval",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aprovar Arthur"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{$json.route}}",
                    "rightValue": "ai_reply",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{$json.route}}",
                    "rightValue": "human_paused",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pausado Arthur"
            }
          ]
        },
        "options": {}
      },
      "id": "route-switch",
      "name": "Roteador",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/customers?phone=eq.{{$node['Decidir rota segura'].json.telefone}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { status: 'initial_flow_sent', last_message_at: $now.toISO() } }}",
        "options": {}
      },
      "id": "supabase-upsert-initial",
      "name": "Supabase - marcar fluxo inicial",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BOT_API_URL || $env.BOT_PUBLIC_URL}}/send/commands",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { to: $node['Decidir rota segura'].json.telefone, commands: [ { type: 'presence', presence: 'recording', durationMs: Number($env.RECORDING_DELAY_SECONDS || 6) * 1000 }, { type: 'audio', fileName: $env.AUDIO_01 || 'apresentacao01.ogg', ptt: true }, { type: 'delay', durationMs: 900 }, { type: 'presence', presence: 'recording', durationMs: Number($env.RECORDING_DELAY_SECONDS || 6) * 1000 }, { type: 'audio', fileName: $env.AUDIO_02 || 'apresentacao02.ogg', ptt: true }, { type: 'delay', durationMs: 700 }, { type: 'image', fileName: $env.IMAGE_FEEDBACKS || 'feedbaks.jpeg', caption: 'Feedbacks oficiais Primeflix.' }, { type: 'delay', durationMs: 700 }, { type: 'audio', fileName: $env.AUDIO_03 || 'qualatv.ogg', ptt: true } ] } }}",
        "options": {}
      },
      "id": "whatsapp-initial-flow",
      "name": "WhatsApp - fluxo inicial oficial",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/customers?phone=eq.{{$node['Decidir rota segura'].json.telefone}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { status: 'ai_ready', last_message_at: $now.toISO() } }}",
        "options": {}
      },
      "id": "supabase-enable-ai",
      "name": "Supabase - liberar IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BOT_API_URL || $env.BOT_PUBLIC_URL}}/send/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { to: $json.telefone, fileName: $env.IMAGE_VALORES || 'valor.jpeg', caption: '' } }}",
        "options": {}
      },
      "id": "whatsapp-send-prices",
      "name": "WhatsApp - enviar valor.jpeg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BOT_API_URL || $env.BOT_PUBLIC_URL}}/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { to: $json.telefone, text: 'Voce consegue testar agora? O teste dura 1 hora.' } }}",
        "options": {}
      },
      "id": "whatsapp-ask-test-time",
      "name": "WhatsApp - confirmar teste agora",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1060,
        660
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/customers?phone=eq.{{$node['Decidir rota segura'].json.telefone}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { status: 'waiting_test_confirmation', last_message_at: $now.toISO() } }}",
        "options": {}
      },
      "id": "supabase-wait-test-confirmation",
      "name": "Supabase - aguardando teste agora",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        660
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/customers?phone=eq.{{$node['Decidir rota segura'].json.telefone}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { status: 'awaiting_arthur_approval', last_message_at: $now.toISO() } }}",
        "options": {}
      },
      "id": "supabase-create-test-request",
      "name": "Supabase - solicitar aprovacao teste",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1060,
        860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BOT_API_URL || $env.BOT_PUBLIC_URL}}/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { to: $env.ARTHUR_PHONE, text: 'Primeflix: teste aguardando aprovacao. Cliente: ' + $node['Decidir rota segura'].json.telefone + '. Aprove pelo painel/Lovable ou webhook manual antes de criar.' } }}",
        "options": {}
      },
      "id": "whatsapp-notify-arthur-test",
      "name": "WhatsApp - avisar Arthur teste",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.KIE_API_URL || 'https://api.kie.ai/v1/chat/completions'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.KIE_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $env.KIE_MODEL, temperature: 0.2, messages: [ { role: 'system', content: 'Voce atende clientes da Primeflix pelo WhatsApp. Nunca invente preco, plano, prazo ou promocao. Se perguntarem preco/plano, nao responda valores: o fluxo envia valor.jpeg. Se pedirem teste, confirme se pode testar agora porque dura 1 hora. Black Friday so manual pelo Arthur. Seja curto e contextual.' }, { role: 'user', content: $json.texto } ] } }}",
        "options": {}
      },
      "id": "kie-ai-request",
      "name": "KIE AI - Claude Haiku",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $node['Decidir rota segura'].json;\nconst text = String($json.choices?.[0]?.message?.content || $json.content || $json.response || '').trim();\nconst blocked = /(R\\$|black friday|promo|promocao|plano\\s+\\w+|\\b\\d+\\s*(reais|meses|dias)\\b)/i;\nconst safeText = text && !blocked.test(text) ? text : 'Vou verificar isso com o Arthur para te responder certinho.';\nreturn [{ json: { ...base, aiText: safeText, aiBlocked: text !== safeText } }];"
      },
      "id": "sanitize-ai",
      "name": "Sanitizar resposta IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BOT_API_URL || $env.BOT_PUBLIC_URL}}/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { to: $json.telefone, text: $json.aiText } }}",
        "options": {}
      },
      "id": "whatsapp-send-ai",
      "name": "WhatsApp - enviar IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { customer_id: $json.customer?.id, direction: 'internal', body: 'Bot pausado: Arthur esta assumindo a conversa.', media_url: null, sent_by: 'system', pending_send: false } }}",
        "options": {}
      },
      "id": "log-human-paused",
      "name": "Log - pausado para Arthur",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        3320
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "primeflix/arthur/aprovar-teste",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "arthur-approve-test-webhook",
      "name": "Arthur - aprovar teste",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1060,
        1460
      ],
      "webhookId": "primeflix-arthur-approve-test"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.TESTER_URL || 'http://tester:3002'}}/tests",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { phone: ($json.body?.telefone || $json.telefone), customerName: ($json.body?.customerName || $json.body?.name || $json.name || $json.body?.telefone || $json.telefone), requestId: ($json.body?.requestId || $json.requestId), approvedByArthur: true } }}",
        "options": {}
      },
      "id": "tester-create-test",
      "name": "Tester - criar teste",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        1460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.ok}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-test-ok",
      "name": "Teste criado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -540,
        1460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { customer_id: ($json.customer_id || $json.customer?.id || $node['Arthur - aprovar teste'].json.body?.customer_id || null), direction: 'outbound', body: ['Teste criado com sucesso.', $json.provider ? 'Provedor: ' + $json.provider : '', 'Usuario: ' + $json.username, 'Senha: ' + $json.password, 'Vencimento: ' + $json.expiresAt].filter(Boolean).join('\\n'), media_url: null, sent_by: 'bot', pending_send: false } }}",
        "options": {}
      },
      "id": "supabase-save-credentials",
      "name": "Supabase - salvar credenciais",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1060,
        1660
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $node['Tester - criar teste'].json;\nconst telefone = data.telefone || data.phone || $node['Arthur - aprovar teste'].json.body?.telefone;\nconst lines = ['Seu teste de 1 hora esta pronto:'];\nif (data.provider) lines.push('Provedor: ' + data.provider);\nlines.push('Usuario: ' + data.username);\nlines.push('Senha: ' + data.password);\nlines.push('Vencimento: ' + data.expiresAt);\nreturn [{ json: { telefone, text: lines.join('\\n') } }];"
      },
      "id": "format-credentials-message",
      "name": "Formatar credenciais",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        1660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BOT_API_URL || $env.BOT_PUBLIC_URL}}/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { to: $json.telefone, text: $json.text } }}",
        "options": {}
      },
      "id": "whatsapp-send-credentials",
      "name": "WhatsApp - enviar credenciais",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        1660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BOT_API_URL || $env.BOT_PUBLIC_URL}}/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { to: $env.ARTHUR_PHONE, text: 'Primeflix: erro ao criar teste. Nada foi enviado ao cliente. Codigo: ' + ($json.code || 'sem_codigo') + '. Erro: ' + ($json.message || '') } }}",
        "options": {}
      },
      "id": "whatsapp-alert-arthur-test-error",
      "name": "WhatsApp - alertar Arthur erro teste",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        1860
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "primeflix/arthur/black-friday",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "black-friday-webhook",
      "name": "Arthur - Black Friday manual",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        620,
        2540
      ],
      "webhookId": "primeflix-black-friday"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BOT_API_URL || $env.BOT_PUBLIC_URL}}/send/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { to: ($json.body?.telefone || $json.telefone), fileName: $env.IMAGE_BLACK || 'black.jpeg', caption: ($json.body?.caption || '') } }}",
        "options": {}
      },
      "id": "whatsapp-send-black",
      "name": "WhatsApp - enviar black.jpeg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        2540
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "primeflix/arthur/assumir",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "takeover-webhook",
      "name": "Arthur - assumir conversa",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -320,
        2540
      ],
      "webhookId": "primeflix-takeover"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/customers?phone=eq.{{$json.body?.telefone || $json.telefone}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { status: 'human_takeover', last_message_at: $now.toISO() } }}",
        "options": {}
      },
      "id": "supabase-takeover",
      "name": "Supabase - pausar bot 30 min",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -60,
        2540
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "primeflix/arthur/devolver",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "return-webhook",
      "name": "Arthur - devolver conversa",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -320,
        2740
      ],
      "webhookId": "primeflix-return"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/customers?phone=eq.{{$json.body?.telefone || $json.telefone}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { status: 'ai_ready', last_message_at: $now.toISO() } }}",
        "options": {}
      },
      "id": "supabase-return-bot",
      "name": "Supabase - devolver ao bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -60,
        2740
      ]
    }
  ],
  "connections": {
    "WhatsApp - entrada": {
      "main": [
        [
          {
            "node": "Normalizar entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar entrada": {
      "main": [
        [
          {
            "node": "Supabase - cliente da upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - buscar contato": {
      "main": [
        [
          {
            "node": "Decidir rota segura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decidir rota segura": {
      "main": [
        [
          {
            "node": "Roteador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteador": {
      "main": [
        [
          {
            "node": "Supabase - marcar fluxo inicial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp - enviar valor.jpeg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp - confirmar teste agora",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase - solicitar aprovacao teste",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "KIE AI - Claude Haiku",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - pausado para Arthur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - marcar fluxo inicial": {
      "main": [
        [
          {
            "node": "WhatsApp - fluxo inicial oficial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp - fluxo inicial oficial": {
      "main": [
        [
          {
            "node": "Supabase - liberar IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp - confirmar teste agora": {
      "main": [
        [
          {
            "node": "Supabase - aguardando teste agora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - solicitar aprovacao teste": {
      "main": [
        [
          {
            "node": "WhatsApp - avisar Arthur teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE AI - Claude Haiku": {
      "main": [
        [
          {
            "node": "Sanitizar resposta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitizar resposta IA": {
      "main": [
        [
          {
            "node": "WhatsApp - enviar IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arthur - aprovar teste": {
      "main": [
        [
          {
            "node": "Tester - criar teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tester - criar teste": {
      "main": [
        [
          {
            "node": "Teste criado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Teste criado?": {
      "main": [
        [
          {
            "node": "Supabase - salvar credenciais",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp - alertar Arthur erro teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - salvar credenciais": {
      "main": [
        [
          {
            "node": "Formatar credenciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar credenciais": {
      "main": [
        [
          {
            "node": "WhatsApp - enviar credenciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arthur - Black Friday manual": {
      "main": [
        [
          {
            "node": "WhatsApp - enviar black.jpeg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arthur - assumir conversa": {
      "main": [
        [
          {
            "node": "Supabase - pausar bot 30 min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arthur - devolver conversa": {
      "main": [
        [
          {
            "node": "Supabase - devolver ao bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - salvar mensagem recebida": {
      "main": [
        [
          {
            "node": "Supabase - buscar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - cliente da upsert": {
      "main": [
        [
          {
            "node": "Supabase - salvar mensagem recebida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-29T00:00:00.000Z",
  "versionId": "primeflix-atendimento-principal"
}
